section {
  &-about {
    @include flex;
    margin: 0 auto;
    padding: 4em;
  }
}

.section {
  @include flex-column;
}

.section-about {
  width: 90%;
  margin: 0 auto;
  margin: 0 10px 0 10px;
  h3 {
    padding: 1em 0 1em 0;
  }
}
